<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nakulshah.FrontEnd" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.nakulshah.FrontEnd.AppLandingPage"
            android:label="@string/title_activity_app_landing_page" >
            <intent-filter>
                <action android:name="android.intent.action.APPLANDINGPAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nakulshah.FrontEnd.CreateNewEvent"
            android:label="@string/title_activity_create_new_event" >
            <intent-filter>
                <action android:name="android.intent.action.CREATENEWEVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nakulshah.FrontEnd.CreateNewPoll"
            android:label="@string/title_activity_create_new_poll" >
        </activity>
        <activity
            android:name="com.example.nakulshah.FrontEnd.EventCalendarView"
            android:label="@string/title_activity_event_calendar_view" >
        </activity>
        <activity
            android:name="com.example.nakulshah.FrontEnd.EventLandingPage"
            android:label="@string/title_activity_event_landing_page" >
            <intent-filter>
                <action android:name="android.intent.action.EVENTLANDINGPAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nakulshah.FrontEnd.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nakulshah.FrontEnd.PollLandingPage"
            android:label="@string/title_activity_poll_landing_page" >
        </activity>
    </application>

</manifest>
