<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zik.faro.frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".FaroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zik.faro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="SignupPage" />
        <activity
            android:name=".CreateNewEvent"
            android:label="@string/title_activity_create_new_event" />
        <activity
            android:name=".CreateNewPoll"
            android:label="@string/title_activity_create_new_poll" />
        <activity
            android:name=".EditEvent"
            android:label="@string/title_activity_edit_event" />
        <activity
            android:name=".EventCalendarView"
            android:label="@string/title_activity_event_calendar_view" />
        <activity
            android:name=".EventLandingPage"
            android:label="@string/title_activity_event_landing_page" />
        <activity
            android:name=".ExceptionPrintPage"
            android:label="@string/title_activity_exception_print_page" />
        <activity
            android:name=".PollListPage"
            android:label="@string/title_activity_poll_landing_page" />
        <activity
            android:name=".CreateNewActivity"
            android:label="@string/title_activity_create_new" />
        <activity android:name=".EditPoll" />
        <activity
            android:name=".PickPollWinnerPage"
            android:label="@string/title_activity_pick_poll_winner" />
        <activity
            android:name=".ActivityListPage"
            android:label="@string/title_activity_activity_list_page" />
        <activity
            android:name=".ActivityLandingPage"
            android:label="@string/title_activity_activity_landing_page" />
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit" />
        <activity
            android:name=".EditAssignment"
            android:label="@string/title_activity_edit_assignment" />
        <activity
            android:name=".AppLandingPage"
            android:label="@string/title_activity_app_landing_page" />
        <activity
            android:name=".InviteFriendToEventPage"
            android:label="InviteFriendToEventPage" />
        <activity
            android:name=".AssignmentLandingPage"
            android:label="AssignmentLandingPageTabs" />
        <activity android:name=".EventFriendListLandingPage" />
        <activity android:name=".UserProfilePage" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_api" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.FaroFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".notification.ReceivedNotficationHandler">
            <intent-filter>
                <action android:name="RECEIVEDNOTIFICATIONHANDLER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PollLandingPage"/>

        <activity
            android:name=".ImageGridViewActivity"
            android:label="ImageGridView" />
        <activity
            android:name=".ImagePickerActivity"
            android:label="ImagePickerActivity" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".ScreenSlidePagerActivity"
            android:label=".ScreenSlidePagerActivity" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>